[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/
.idea/

*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.pidb
*.booproj
*.svclog

project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.tmp
*.temp
